[user]
    name = Kyran Burraston
    email = kyran.burraston@gmail.com
[branch]
    autosetuprebase = always

[pull]
    rebase = true

[push]
    default = simple

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    cf = !sh -c \"git diff --name-only | uniq | xargs s\"\n
	checkoutr = checkout

[core]
    pager = less -R
    excludesfile = ~/.gitignore
    editor = vim

[github]
    user = kyranjamie

[ghi]
    token = !security find-internet-password -a kyranjamie -s github.com -l 'ghi token' -w

[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[gpg]
	program = gpg
[commit]
